body {
	font-family: sans-serif;
  background-color: #f9fbfd;
  margin: 0;
  color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

input[type=checkbox] {
	margin-right: 0;
}

.container {
	background-color: lightgray;
	padding: 3rem;
	border-radius: 1rem;
	border: 2px solid black;
  align-items: center;
  flex-direction: column;
}

.btn {
	  grid-column: span 2;
    background-color: hsl(360, 91%, 36%);
    border: 2px solid white;
    color: white;
    padding: .5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
}

.btn-large {
	display: block;
	width: 100%;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}
